<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>
<th:block>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each = "event : ${events.entrySet()}">
            <td th:text="${event.getKey()}" scope="row" class="eventName"></td>
            <td th:text="${event.getValue()}" scope="row"></td>
        </tr>
        </tbody>
    </table>
</th:block>

<footer th:replace="fragments :: address"></footer>
</body>
</html>