<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>

    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<nav th:fragment="navigation">
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>
</nav>

<footer th:fragment="address">
    <p>Meet other coders like you at the LaunchCode Mentor Center!</p>
    <a href="https://www.google.com/maps/place/LaunchCode+Mentor+Center/@38.6515134,-90.2595059,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b4d4dfb1118d:0x46ba750d4f6e9fe1!8m2!3d38.6515134!4d-90.2595059">Click here for address</a>
</footer>


</body>
</html>